@model List<Product>
<div class="row">
    @foreach(var Product in Model){
        <div class="col-md-4">
        <div class="card mb-4">
            <img class="card-img-top" src="">
            <div class="card-body">
                <h5 class="card-title">@Product.Name</h5>
                <p class="card-text">@Product.Description</p>
                <p class="card-text"><strong>Price: $@Product.Price</strong></p>
                <p class="card-text">
                    @if(Product.InStock)
                    {
                        <span class="badge badge-success">In Stock</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Out of Stock</span>
                    }
                </p>
            </div>
        </div>
    </div>
    }
</div>
