@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <highlight-text text="Hello World!" highlight-color="teal"></highlight-text>
    <national-flag inner-color="red" outer-color="whitesmoke"></national-flag>
    <email-link address="sheikhjobayeralam2000@gmail.com" text="Mail Me"></email-link>
    <button-with-icon text="Download" icon-class="fas fa-download"></button-with-icon>
    <current-date></current-date>
</div>
