@model CitiesViewModel;
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <form asp-action="SubmittedCities" asp-controller="Home" method="post">
        <div class="form-group">
            <label for="SelectedCityIds">Select Cities</label>
            @* @Html.ListBoxFor(m => m.SelectedCityIds, new MultiSelectList(@Model.Cities, "CityId", "CityName"), new {@class = "form-control", size = 7}) *@
            @Html.ListBox("SelectedCityIds", (IEnumerable<SelectListItem>)ViewBag.Cities, new { @class = "form-control", size = 7 })
        </div>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
</div>

